<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TermProjectMCON368.Properties.Settings.TermProjectDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-B14LJIK\MSSQLSERVER01;Initial Catalog=TermProjectDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>